.auth-section {
  height: 100%;

  .row {
    height: 100%;
  }

  .brand {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    height: 100%;
    display: flex;
    padding: 50px;

    .brand-text {
      margin-top: auto;
      text-transform: uppercase;
      color: #646464;

      .brand-title {
        font-size: 44px;
        line-height: 1.3;
        margin-bottom: 0;
        font-weight: 400;
      }

      .brand-location {
        font-size: 34px;
        line-height: 1.3;
        font-weight: 400;
      }
    }
  }

  .auth-form-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 120px;

    h1 {
      margin-bottom: 40px;
    }

    legend {
      font-weight: 500;
      margin-bottom: 20px;
    }
  }

  .suggested-link {
    position: absolute;
    right: 35px;
    top: 20px;
  }

  .form-link {
    text-align: center;
    margin-top: 25px;
  }
}
